.card{
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.row{
  display: flex;
  justify-content: space-around;
}
.cont{
  width: 190px;
  padding: 20px;
}
.btn{
  background-color: rgb(67, 202, 230);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 22px;
}